html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #172236;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;             
    align-items: center;       
    justify-content: space-between; 
    padding: 2em 5vw;        
    background-color: #172236;
    background: transparent;
    backdrop-filter: blur(7px); /*https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter*/
    box-shadow: 0 0.1em 20px #0f1624;
    z-index: 100;  
}

#head1 {
    font-size: 1.35em;
    letter-spacing: -0.05em;
    font-family: "ClearSansB";
    font-weight: bold;
    margin: 0;                 
}

#head2 {
    display: flex;
    gap: 3em;
    font-size: 1em;
    margin-right: 10em;
    font-family: "ClearSansB";
}

#about{
    margin-top: 9vw;
    font-size: 22px;
    color: #f8f8f8;
    font-family: "ClearSansT"
}

.title{
    display: block;
    font-family: "ClearSansB";
    font-size: 75px;
    margin-bottom: 0.3em;
}

#AboutMe .title{
    margin-bottom: 0.75em;
}

#square2{
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #f8f8f8;
    margin-top: 150px;
}

#aboutblock{
    position: relative;
    margin-top: 15vw;
    /* max-width: 700px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
    gap: 25vw;
}

#AboutMe2{
    max-width: 700px;
}

#block1{
    display: flex;
    flex-direction: row;
    max-width: 1600px;
}

#block3{
    display: flex;
    flex-direction: column;

}

#city{
    width: 35%;
    height: auto;
    margin-top: -4vw;
    margin-left: 5vw;
}

#AboutMe{
    min-width: 1000px;
    max-width: 1000px;
    font-size: 24px;
}

#scroll{
    /* position: absolute; */
    font-size: 12px;
    font-family: "ClearSansT";
    letter-spacing: 10px;
    color: #f8f8f8;
    margin-left: 250px;
    margin-top: 80px;
    margin-bottom: -80px;
}

#square{
    /* position: absolute; */
    width: 1px;
    height: 300px;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: -350px;
    background-color: #f8f8f8;
}

/* #city{
    position: absolute;
    width: 35%;
    height: auto;
    margin-left: 50vw;
    margin-top: 39.5vw;
} */

/* #What{
    max-width: 700px;
    margin-left: 45vw;
} */

#block2{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10vw;
    max-width: 1600px;
    margin-bottom: -200px;
}

#icon{
    width: 35%;
    height: auto;
    margin-top: -6vw;
    margin-right: 5vw;
}

#What{
    max-width: 700px;
}

/* #icon{
    position: absolute;
    width: 35%;
    height: auto;
    margin-top: -35vw;
    margin-left: 9vw;
} */

#questions{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: 10vw;
}

#Why{
    margin-bottom: -50px;
}

#Next{
    margin-bottom: 200px;
}

/* #Why{
    max-width: 1000px;
    margin-left: 10vw;
}

#Next{
    max-width: 1000px;
    margin-left: 10vw;
    margin-top: -100px;
    margin-bottom: 100px;
} */

a {
    text-decoration: none;
    color: #f8f8f8;
}

footer{
    background-color: #f8f8f8;
    color: #172236;
    font-family: "ClearSansB";
    font-size: 1.2em;
    text-align: center;
    border-top: grey solid 5px;
    position: relative;
    z-index: 3;
    padding: 1em 0;
    max-width: 1920px;
}

@font-face {
    font-family:"ClearSansB" ;
    src: url(../Fonts/ClearSans-Bold.ttf);
}

@font-face {
    font-family: "ClearSansR";
    src: url(../Fonts/ClearSans-Regular.ttf);
}

@font-face {
    font-family: "ClearSansM";
    src: url(../Fonts/ClearSans-Medium.ttf);
}

@font-face {
    font-family: "ClearSansT";
    src: url(../Fonts/ClearSans-Thin.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body {
    width: 1920px;      
    transform-origin: top left;
}

@media (max-width: 1920px) {
    body {
        transform: scale(calc(100vw / 1920));
        width: 100vw;
    }
}

@media (min-width: 1920px) {
    body {
        transform: scale(1);
        margin: 0 auto;
    }
}

/* https://css-tricks.com/turning-a-fixed-size-object-into-a-responsive-element/?.com */